{% extends 'shop/base.html' %} {% block page_title %} Orders | Woozie
{% endblock %} {% block basecontent %} {% load static %}
<div class="orders">
    <div class="orders__wrapper">
    <div class="orders__wrapper-header">
        <div class="main">
            <h4>Order History</h4>
            <p>Manage your recent orders and innvoices</p>
        </div>
    </div>
    <hr>
    <div class="orders__wrapper-filter">
        <select name="" id="" class="order_select">
            <option value="all">All</option>
            <option value="paid">Paid</option>
            <option value="unpaid">Unpaid</option>
        </select>
        <input type="text" placeholder="orderID..." class="order_filter">
    </div>
        <table class="orders_table">
            <thead>
            <tr>
            <th>OrderID</th>
            <th>Date</th>
            <th>Product</th>
            <th>Status</th>
            <th>Adress</th>
            <th>Quantity</th>
            <th>Total</th>
           
            </tr>
            </thead>
            <tbody>
           {% for order in orders.all %}
            <tr class="checkout__item" >
            <td>{{ order.id  }}</td>
            <td>
            {{ order.created|date }}        
            </td>
            <td>- - -</td>
            {% if not order.paid %}
            <td class="unpaid"><i class="ri-close-circle-fill"></i>
             Not Paid
            </td>
            {% else %}
            <td class="paid"> <i class="ri-checkbox-circle-fill"></i>
            Paid
            </td>
            {% endif %}
            <td class="">{{ order.address }}</td>
            <td class="">{{ order.get_quantity }}</td>
            <td class="num">{{ order.get_total_cost }}
                <span style="cursor: pointer;"><i class="ri-more-2-line"></i>
                 <ul>
                    <li><a href="{% url 'orders:orders_download' order.id  %}"> <i class="ri-download-line"></i>Download</a></li>
                    
                    {% if not order.paid %}
                    <li><a href="{% url 'orders:order_delete' order.id %}"> <i class="ri-delete-bin-line"></i> Delete</a></li>
                    <li> <form action="{% url 'payment:process_id' order.id %}" method="POST">
                        {% csrf_token %} <button style="margin: 0; padding: 7px 15px;" type="submit"><i class="ri-currency-fill"></i> Pay Now</button></form> </li>
                    {% endif  %}
                </ul>
                </span>
               
            </td>
            
            </tr>
            {% endfor %}
           
            <!-- <tr class="total">
            <td colspan="5">Total</td>
            <td class="num">2000 ETB</td>
            </tr> -->
            </tbody>
        </table>
    </div>
</div>
{% endblock %}