{% extends 'shop/base.html' %} {% block page_title %} Cart {% endblock %} {%
load static %} {% block basecontent %}

<!-- Hero Sections-->
<section class="cart">
  <section class="cart__wrapper">
    <div class="cart__wrapper-items">
      <div class="cart__wrapper-items_action">
        <a
          href="{% url 'shop:home' %}"
          style="width: max-content"
          class="link-one"
          ><i class="ri-arrow-left-line"></i> Continue Shopping</a
        >
      </div>
      {% if cart|length > 0 %}
      {% for item in cart %} {% with product=item.product %}
      <div class="cart__item">
        <img src="{{ product.image.url  }}" alt="" />
        <div class="item__detail">
         <a href="{{  product.get_absolute_url }}" style="color: black;"> <h5>{{ product.name }}</h5></a>
          <span>Available <i class="ri-check-fill"></i></span>
        </div>
        <h6 class="price">{{ item.price }}ETB</h6>
        <input type="number" value="{{ item.quantity }}" />
        <h6 class="total-price">{{ item.total_price }}ETB</h6>
        <a
          class="remove_item"
          style="cursor: pointer"
          data-product="{{ product.id }}"
          ><i class="ri-close-large-line"></i
        ></a>
      </div>
      {% endwith %} {% endfor %}
      {% else %}
      <h1 class="cart__empty">Your cart is empty!</h1>
      {% endif %}

    </div>
    <div class="cart__wrapper-summary">
      <h4>Cart Summary</h4>
      <div class="cart__wrapper-summary_wrapper">
        <ul>
          <li>
            <h6>User</h6>
            <p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
          </li>
          <hr />
          <li>
            <h6>Total Items:</h6>
            <p class="cart__number">
              {% with total_items=cart|length %} {% if total_items > 0 %}
              {{total_items }} {% else %} 0 {% endif %} {% endwith %}
            </p>
          </li>

          <!-- <li>
            <select name="" id="">
              <option value="">Would you like Delivery?</option>
              <option value="">Yes</option>
              <option value="">No</option>
            </select>
          </li> -->
          <li>
            <h5>Total Price:</h5>
            <h4>
              <span class="total__price">{{ cart.get_total_price }}</span> ETB
            </h4>
          </li>
        </ul>
        <hr />
        {% if cart|length != 0 %} 
        <a
          style="width: max-content"
          class="link-two"
          
          href="{% url 'orders:order_create' %}"
          >Proceed to Checkout <i class="ri-arrow-right-line"></i
        ></a>
        {% else %}
        <a
          style="width: max-content"
          class="link-two  blur "
          >Proceed to Checkout <i class="ri-arrow-right-line"></i
        ></a>
         {% endif %}
      </div>
    </div>
  </section>
</section>
{% endblock %}
