appdirs==1.4.4
asgiref==3.7.2
attrs==23.2.0
autobahn==23.6.2
Automat==22.10.0
certifi==2024.2.2
cffi==1.16.0
channels==4.0.0
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
constantly==23.10.4
cryptography==42.0.5
defusedxml==0.7.1
Django==4.2.11
django-allauth==0.61.1
django-appconf==1.0.6
django-compressor==4.4
django-sass-processor==1.4
hyperlink==21.0.0
idna==3.6
importlib_metadata==7.0.2
incremental==22.10.0
libsass==0.23.0
msgpack==1.0.8
oauthlib==3.2.2
paypal==1.2.5
pdfgen==1.0.5
pillow==10.2.0
psycopg2==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyee==8.2.2
PyJWT==2.8.0
pyOpenSSL==24.1.0
PyPDF2==1.28.6
pyppeteer==0.2.6
python-decouple==3.8
python3-openid==3.2.0
rcssmin==1.1.1
redis==5.0.3
reportlab==4.1.0
requests==2.31.0
requests-oauthlib==1.4.0
rjsmin==1.2.1
service-identity==24.1.0
six==1.16.0
sqlparse==0.4.4
syncasync==20180812
tqdm==4.66.2
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==1.26.18
websockets==9.1
zipp==3.18.1
zope.interface==6.2