$green: hsl(108, 48%, 32%);
$black: rgb(56, 56, 56);
$white:rgb(255, 255, 255);
$lightwhite: rgba(218, 218, 218, 0.405);
$blue:rgb(33, 87, 236);
$lightdark:rgba(49, 48, 48, 0.459);
$box-shadow:rgba(0,0,0, 0.1) 0 0.3rem 1rem ;
$border: 1px solid $black;
$font-stack:    Helvetica, sans-serif;