button, input[type=submit] {    
    width: 100%;
    outline: none;
    border: none;
    padding: 15px 10px;
    background: $black;
    color: $white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}
button.auth_btn {
  width: 100%;
  @include flex_center();
  padding: 10px 15px;
  gap: 20px;
  color: $black;
  font-size:16px;
  background: none;
  margin: 0;
  &:hover {
      background: $lightwhite
  }
  img {
      width: 20px;
      height: auto;
  }
}
input {
  width: 100%;
  border: 1px solid $lightdark;
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  &:focus {
      border:$border;
  }
}

a.link-one {
    color:$black;
    padding: 15px 10px;
    border: $border;
    border-radius: 5px;
    cursor: pointer;
}
a.link-two {
  background:$black;
  padding: 15px 10px;
  border: $border;
  border-radius: 5px;
  color: $white;
  cursor: pointer;
}
select {
  width: 100%;
  border: 1px solid $lightdark;
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}
.product {
    max-width: 350px;
    height: auto;
    padding: 10px;
    @include flex_column();
    gap: 10px;
    border-radius: 15px;
    background: $lightwhite;
    img {
      width: 100%;
      height: 300px;
      object-fit: contain;
      background-blend-mode: color-burn;
    }
    &__detail {
      color: $black;
      
    }
    &:hover {
      transform: scale(1.05);
      box-shadow: $box-shadow;
    }
    &__action {
      width: 100%;
      @include flex_between();
      p {
        color: $black;
      }
      &-cart {
        padding: 5px 10px;
        background: $black;
        color: $white;
        font-size: 18px;
        border-radius: 5px;
      }
    }
  }

  .product2 {
    width: 250px;
    height: auto;
    @include flex_column();
    border-radius: 15px;
    overflow: hidden;
    background: $lightwhite;
    align-items: center;
    img {
        background: $lightwhite;
        width: 100%;
        height: 200px;
        object-fit: contain;
        background-blend-mode: color-burn;
      }
      &:hover {
        img {
            transform: scale(1.1);
        }
        box-shadow: $box-shadow;
      }
      &__detail {
            padding: 10px;
            width: 100%;
            @include flex_column();
            background: $white;
            gap: 10px;
        &-action {
            width: 100%;
            @include flex_between();
            background: $white;
             &_cart {
                padding: 5px 10px;
                background: $black;
                color: $white;
                font-size: 18px;
                border-radius: 5px;
            }
            &_price {
                 color: $black;
                 background: none;
                 font-weight: bold;
            }
        }
      }
  }
  a.button {
    cursor: pointer;
  }

  dialog {
    border: none;
    position: fixed;
    width: 100%;
    margin: 100px auto;
    border-radius: 20px;
    overflow: hidden;
    &::backdrop {
      backdrop-filter: blur(3px);
    }
    form {
      width: 100%;
      background: $white;
      padding:100px 20px;
      margin: 0;

      input {
        width: 70%;
        margin: 0 auto;
      }
    }  
}


.cart__item {
  @include flex_between();
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: $white;
  border: 0.5px solid rgba(36, 36, 36, 0.156);
  position: relative;
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  } 
  .item__detail {
    h5 {
    flex: 0.8;
    @include flex_column();
  }
  span {
    i {
      color: green;
    }
  }
  }
  input {
    border: 1px solid $lightdark;
    padding: 10px 10px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    width: 70px;
    font-size: 17px;
  }
  h6 {

  }
  .remove_item {
    color: $black;
    position: absolute;
    top:10px;
    right: 20px;
  }
}

.logo {
  font-family: $font-third;
}

/* Container for the "or" text */
.or-container {
  position: relative;;
  text-align: center;
  width: 100%;
  align-items: center;
}

/* Horizontal line */
.or-container::before,
.or-container::after {
  content: "";
  display: inline-block;
  width: 40%;
  border-top: 1px solid #ccc;
  vertical-align: middle;
}

/* "Or" text style */
.or-text {
  display: inline-block;
  padding: 0 10px;
  font-weight: bold;
  color: #555;
  position: relative;
  top: -5px; /* Adjust as needed */
  background-color: #fff; /* Ensure text is on top of the line */
}


.message_list {
  @include flex_column();
  gap: 10px;
  li.error {
    padding: 10px;
    background: rgba(255, 0, 0, 0.095);
    color: red;
    border: 1px solid red;
  }
  li.success {
    padding: 10px;
    background: rgba(0, 128, 0, 0.095);
    color: green;
    border: 1px solid green;
  }

}