@import "mixins";
@import "variables";

form {
    width: 100%;
    @include flex_column();
    gap: 5px;
    &.add_cart {
        @include flex_center();
    }
    p {
        width: 100%;
        @include flex_column();
        gap: 5px;
        label {
            font-size: 16px;
            color: $black;
        }
 
        .helptext {
            display: none;
        }
    }
    ul {
        display: none;
    }
    ul.errorlist {
        @include flex_column();
        gap: 5px;
        li{
            color: red;
            list-style:disc;
        }   
    }

}
ul.errorlist {
    @include flex_column();
    gap: 5px;
    li{
        color: red;
        list-style:disc;
    }   
}

