@import  "typography";
@import  "boilerplate";
@import "auth";
@import "mixins";
@import "components";
@import  "form";

nav {
  @include flex_column();
  .nav__header {
    @include flex_between();
    width: 100%;
    padding: 5px 20px;
    background: $black;
    color: $white;
    justify-content: flex-end;
    ul {
      @include flex_between();
      gap: 30px;
      li {
        font-size: 15px;
      }
    }
  }
  .nav__menu {
    @include flex_between();
    width: 100%;
    padding: 5px 40px;
    background: $white;
    color: $black;
    box-shadow: $box-shadow;
    &.stick {
      position: fixed;
      z-index: 2;
    }
    ul {
      @include flex_between();
      gap: 30px;
      li { 
        &.catagories, &.pages, &.pro{
          position: relative;
          &:hover {
            .catagories__menu {
              display: flex;
              gap: 50px;
            }
            .pages__menu, .pro__menu {
              @include flex_column();
              gap: 15px;
            }
            .pro__menu {
              right: -30px;
            }
          }
          .catagories__menu, .pages__menu, .pro__menu {
           @include nav_submenu();
            ul {
              @include flex_column();
              gap: 15px;
              li {
              }
            }
            ul.catagories__menu-main {
              li {
                font-weight: bolder;
                font-size: 20px;
              }
            }
          }
        }  
        &.cart {
          position: relative;
          display: flex;
          align-items: flex-end;
          .cart__number {
            position: absolute;
            background: red;
            color: $white;
            top: -8px;
            right: -10px;
            z-index: 10;
            font-weight: 600;
            border-radius: 50%;
            font-size: 12px;
            padding: 0 3px;
            width: auto;
            &.hidden {
              display: none;
            }
          }
        }
       a {
        color: $black;
        font-weight: bolder;
        font-size: 17px;
       }
      }
      .nav__auth-links {
        @include flex_center();
        gap: 5px;
        li {
          a {
            background: $black;
            color: $white;
            padding: 7px 15px;
            border-radius: 5px;
            &:hover {
              background: $lightwhite;
              color: $black;
            }
          }
          a.register__llink {
            background: $lightwhite;
            color: $black;
            &:hover {
              background: $black;
            color: $white
            }
          }
        } 
      }
    }
  }
}
footer {
    width: 100%;
    background: $black;
    .footer__wrapper {
      @include flex_between();
      @include screen_center();
      padding: 50px;
      color: $white;
      gap: 100px;
    }
  .footer__detail {
    @include flex_column();
    gap: 15px;
    .social__links {
      width: 100%;
      ul {
        @include flex_between();
        justify-content:flex-start;
        gap: 20px;
        li {
          @include flex_center();
          width: 30px;
          height: 30px;
          background: $white;
          color: $black;
          border-radius: 50%;
          font-weight: bolder;
          
        }
      }
    }
    .footer__detail-paymentoptions {
      @include flex_between();
      justify-content:flex-start;
      gap: 20px;
        img {
          width: 40px;
          height: auto;
          object-fit: cover;
          background-blend-mode:overlay;
        }
    }
  }
  .footer__links {
    width: 100%;
    @include flex_between();
    align-items: flex-start;
    .footer__links-container {
      @include flex_column();
      gap: 15px;
      h6 {
        font-weight: bolder;
        font-size: 18px
      }
      ul  {
        @include flex_column();
        gap: 10px;
        li {
          color: $lightwhite;
          font-size: 14px;
          font-weight: 100;
        }
      }
    }
  }
}
.home {
  width: 100%;
  height: auto;
  .hero {
    position: relative;
    height: 600px;
    padding: 50px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
      width: 50%;
      line-height: 65px;
      color: $black;
      font-family: "Lacquer", system-ui;
      font-weight: 400;
      font-style: normal;
      span {
        color: transparent;
        background-image: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(195,255,119,1) 50%, rgba(255,184,0,1) 94%);
        background-clip: text;
      }
    }
  }
}

.products {
  width: 100%;
  height: auto;
  background: $lightwhite;
  &__wrapper {
    @include screen_center();
    @include flex_column();
    position: relative;
    gap: 30px;
    padding:50px;
    .product__list {
      @include grid(300px);
      width: 100%;
      height: auto;
    }
    .see-more {
      width: 100%;
      @include flex_center();
    }
  }
}

.mockups {
  width: 100%;
  height: auto;
  background: $white;
  &__wrapper {
    @include flex_between();
    gap: 0;
    &-main {
      flex: 1;
      height: 500px;
      img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
   }
    &-sub {
      height: 500px;
      img {
      width: 400px;
      height: 100%;
      object-fit: cover;
    }
    }
  }
}
.product__list2 {
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  &::-webkit-scrollbar{
    display: none;
}
  &-wrapper {
    display: flex;
    height: 100%;
    gap: 30px;
    width: max-content;
  }
}



// Cart Styles 

.cart {
  background: $white;
    .cart__wrapper {
      @include flex_between();
      @include screen_center();
      align-items: flex-start;
      padding: 50px;
      color: $black;
      gap: 30px;
      min-height: 90vh;
      &-items {
        height: auto;
        width: 70%;
        @include flex_column();
        gap: 15px;
        &_action {
          @include flex_between();
          width: 100%;
        }
        
      }

      &-summary {
        width: 30%;
        background: $white;
        height: auto;
        padding: 20px;
        border-radius: 10px;
        box-shadow: $box-shadow;
        margin-top: 70px;
        @include flex_column();
          gap: 15px;
        &_wrapper {
          @include flex_column();
          gap: 15px;
          width: 100%;
          ul {
            @include flex_column();
            gap: 15px;
            width: 100%;
            li {
              @include flex_between();
              gap: 15px;
              width: 100%;
              p {
                color: $black;
              }
            }
          }
          a {
            width: 100%;
            text-align: center;
            @include flex_center();
            gap: 10px;
            font-weight: bolder;
            
            img {
              width: max-content;
              height: 30px;
            }
            &.blur {
              background: rgba(110, 110, 110, 0.721);
              color: rgba(255, 255, 255, 0.834);
              
              cursor: not-allowed;
            }
            &.paypal {
              background:gold;
              color: $black;
              border: none;
            }
            &.chapa {
              background: rgb(11, 68, 1);
              color: $white;
            }
            &.stripe {
              background: rgba(243, 22, 88, 0.781);
              background: white;
              color: white;
            }
          }
        }
      }
    }
}

.productdetail {
  width: 100%;
  height: auto;
    &__wrapper {
      @include flex_between();
      @include screen_center();
      gap: 50px;
      padding: 100px;
      align-items: flex-start;
        &-image {
          width: 40%;
          height: auto;
          background: $lightwhite;
          padding: 30px;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
        }

        &-detail {
          @include flex_column();
          gap: 15px;
          width: 60%;
          height: auto;
          padding: 30px;
          h4 {
            color: $black;
          }
          &__category {
            padding: 10px 20px;
            background: $lightwhite;
            border-radius: 5px;
          }
          p {
            color: $black;
          }
          &__add {
              margin-top: 30px;
              @include flex_center();
              justify-content: flex-start;
              gap: 15px;
              display: flex;
              input {
                border: 1px solid $lightdark;
                padding: 10px 10px;
                background: transparent;
                outline: none;
                border-radius: 5px;
                width: 70px;
                font-size: 17px;
              }
              button {
                display: inline;
                margin-top: 0;
              }
          }
      }
  }
}


.orderCreate {
  width: 100%;
  height: auto;
  &__wrapper {
    @include flex_between();
    @include screen_center();
    max-width: 1000px;
    align-items: flex-start;
    padding: 50px;
    color: $black;
    gap: 30px;
    min-height: 90vh;
    &-form {
      width: 60%;
      gap: 30px;
      @include flex_column();
    }
    &-info {
      width: 40%;
      background: $white;
      height: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: $box-shadow;
      margin-top: 70px;
      @include flex_column();
        gap: 15px;
        ul {
          @include flex_column();
          gap: 15px;
          width: 100%;
          li {
            @include flex_between();
            gap: 15px;
            width: 100%;
            p {
              color: $black;
            }
          }
        }
    }
  }
}

.paymentStatus{
  width: 100%;
  min-height: 90vh;
  &__wrapper {
    @include flex_column();
    @include screen_center();
    max-width: 1000px;
    align-items: flex-start;
    padding: 50px;
    color: $black;
    gap: 30px;
    height: auto;
    p {
      color: $black;
      font-size: 20px;
      i {
        font-weight: bolder;
        font-size: 20px;
        padding: 5px;
        background: $green;
        color: white;
        border-radius: 50%;
      }
      a {
        color: rgb(16, 16, 173);
        font-weight: bolder;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}


.paymentProcess {
  width: 100%;
  height: auto;
  background: $lightwhite;
  min-height: 90vh;
  &__wrapper {
    @include flex_column();
    @include screen_center();
    align-items: flex-start;
    padding: 50px;
    gap: 30px;
  
    h4 {
      margin-bottom: 30px;
      text-transform: capitalize;
    }
    &-orders {
      height: auto;
      width: 75%;
      @include flex_column();
      gap: 15px;
      table {
        border-collapse: collapse;
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: 0.5px solid rgba(53, 53, 53, 0.466);
        width: 100%;

        thead {
          tr {
            th {
              text-align: start;
              background: $lightdark;
              padding: 10px;
            }
          }
        }
  
        tbody{
          padding: 10px;
          background: $white;
          gap: 10px;
          tr {
            padding: 10px;
            border-bottom: 0.5px solid rgba(53, 53, 53, 0.466);
            td {
              padding: 10px;
            }
             img {
            width: 100px;
            height: 100px;
            object-fit: contain;
          }
          }
        }
        .total {
          .num {
            font-size: 25px;
          }
        }
      }
    }
    form {
      width: 150px;
    }
  }
}

.account {
  width: 100%;
  height: auto;
  background: $white;
  min-height: 70vh;
  &__wrapper {
    @include flex_column();
    @include screen_center();
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px;
    &-profile {
      ul {
        @include flex_column();
        align-items: flex-start;
        gap: 15px;
        li {
          @include flex_column();
          align-items: flex-start;
          gap: 5px;
          p {
            color: $black;
          }
        }
      }
    }
    &-profile2 {
      width: 100%;
      ul {
        @include flex_column();
        align-items: flex-start;
        gap: 15px;
        width: 100%;
        li {
          width: 80%;
          @include flex_column();
          gap: 5px;
          .action {
            width: 100%;
            @include flex_between();
            background: $white;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            p {
              flex: 1;
              padding: 10px 15px;
            }
          }
          p {
            color: $black;
          }
        }
      }
    }
  }
}

.payment {
  width: 100%;
  height: auto;
  background: $white;
  min-height: 70vh;
  &__wrapper {
    @include flex_column();
    @include screen_center();
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px;
  }
}

.orders {
  width: 100%;
  height: auto;
  background: $white;
  min-height: 70vh;
  &__wrapper {
    @include flex_column();
    @include screen_center();
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px;
    &-header {
      width: 100%;
      @include flex_between();
      .main {
        p {
          color: $black;
        }
        .sub {

        }
      }
    }
    &-filter {
      @include flex_between();
      justify-content: flex-end;
      width: 100%;
      gap: 15px;
      input {
        width: 300px;
        padding: 5px 10px;
      }
      select {
        width: 100px;
        padding: 5px 10px;
      }
    }
    table {
      border-collapse: collapse;
      gap: 10px;
      border-radius: 10px;
      overflow: hidden;
      border: 0.5px solid rgba(53, 53, 53, 0.466);
      width: 100%;

      thead {
        tr {
          th {
            text-align: start;
            background: $lightdark;
            padding: 10px;
          }
        }
      }

      tbody{
        padding: 10px;
        background: $white;
        gap: 10px;
        tr {
          
          border-bottom: 0.5px solid rgba(53, 53, 53, 0.466);
          &:hover {
            background: rgba(238, 238, 238, 0.346);
          }
          td {
            padding: 10px;
            &.unpaid {
              color: red;
              i {
                color: rgba(255, 0, 0, 0.393);
              }
              
            }
            &.paid {
              color: green;
              i {
                color: rgba(0, 128, 0, 0.545);
              }
              
            }
            &.num {
              @include flex_between();
              width: 100%;
              span {
                
              }
            }
          }
           img {
          width: 100px;
          height: 100px;
          object-fit: contain;
        }
        }
      }
      .total {
        .num {
          font-size: 25px;
        }
      } 
    }
  }
}
