h1 {
  font-size: 60px;
  color: #383838; }

h2 {
  font-size: 50px; }

h3 {
  font-size: 40px; }

h4 {
  font-size: 30px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 16px; }

p {
  line-height: 25px;
  font-weight: lighter;
  color: rgba(218, 218, 218, 0.405); }

hr {
  width: 100%;
  height: 1px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  transition: 0.4s;
  font-family: "Radio Canada", sans-serif; }

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px; }

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px; }
  form.add_cart {
    display: flex;
    align-items: center;
    justify-content: center; }
  form p {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px; }
    form p label {
      font-size: 16px;
      color: #383838; }
    form p .helptext {
      display: none; }
  form ul {
    display: none; }
  form ul.errorlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px; }
    form ul.errorlist li {
      color: red;
      list-style: disc; }

.auth__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: rgba(218, 218, 218, 0.405); }

.auth__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding: 25px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem;
  width: 450px;
  height: auto;
  border-radius: 10px; }
  .auth__wrapper p {
    color: #383838; }
  .auth__wrapper h1 {
    font-size: 40px; }
  .auth__wrapper .socialaccount_ballot {
    display: block;
    width: 100%; }
    .auth__wrapper .socialaccount_ballot .socialaccount_providers {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      .auth__wrapper .socialaccount_ballot .socialaccount_providers li {
        width: 100%;
        border: 1px solid #383838;
        border-radius: 5px; }
        .auth__wrapper .socialaccount_ballot .socialaccount_providers li a {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 15px;
          gap: 20px;
          color: #383838;
          font-weight: 400; }
          .auth__wrapper .socialaccount_ballot .socialaccount_providers li a:hover {
            background: rgba(218, 218, 218, 0.405); }
          .auth__wrapper .socialaccount_ballot .socialaccount_providers li a img {
            width: 20px;
            height: auto; }

button, input[type=submit] {
  width: 100%;
  outline: none;
  border: none;
  padding: 15px 10px;
  background: #383838;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px; }

input {
  width: 100%;
  border: 1px solid rgba(49, 48, 48, 0.459);
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border-radius: 5px; }
  input:focus {
    border: 1px solid #383838; }

a.link-one {
  color: #383838;
  padding: 15px 10px;
  border: 1px solid #383838;
  border-radius: 5px;
  cursor: pointer; }

a.link-two {
  background: #383838;
  padding: 15px 10px;
  border: 1px solid #383838;
  border-radius: 5px;
  color: white;
  cursor: pointer; }

select {
  width: 100%;
  border: 1px solid rgba(49, 48, 48, 0.459);
  padding: 10px 15px;
  background: transparent;
  outline: none;
  border-radius: 5px;
  cursor: pointer; }

.product {
  max-width: 350px;
  height: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 10px;
  border-radius: 15px;
  background: rgba(218, 218, 218, 0.405); }
  .product img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    background-blend-mode: color-burn; }
  .product__detail {
    color: #383838; }
  .product:hover {
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem; }
  .product__action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .product__action p {
      color: #383838; }
    .product__action-cart {
      padding: 5px 10px;
      background: #383838;
      color: white;
      font-size: 18px;
      border-radius: 5px; }

.product2 {
  width: 250px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 15px;
  overflow: hidden;
  background: rgba(218, 218, 218, 0.405);
  align-items: center; }
  .product2 img {
    background: rgba(218, 218, 218, 0.405);
    width: 100%;
    height: 200px;
    object-fit: contain;
    background-blend-mode: color-burn; }
  .product2:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem; }
    .product2:hover img {
      transform: scale(1.1); }
  .product2__detail {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    background: white;
    gap: 10px; }
    .product2__detail-action {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: white; }
      .product2__detail-action_cart {
        padding: 5px 10px;
        background: #383838;
        color: white;
        font-size: 18px;
        border-radius: 5px; }
      .product2__detail-action_price {
        color: #383838;
        background: none;
        font-weight: bold; }

a.button {
  cursor: pointer; }

dialog {
  border: none;
  position: fixed;
  width: 100%;
  margin: 100px auto;
  border-radius: 20px;
  overflow: hidden; }
  dialog::backdrop {
    backdrop-filter: blur(3px); }
  dialog form {
    width: 100%;
    background: white;
    padding: 100px 20px;
    margin: 0; }
    dialog form input {
      width: 70%;
      margin: 0 auto; }

.cart__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background: white;
  border: 0.5px solid rgba(36, 36, 36, 0.156);
  position: relative; }
  .cart__item img {
    width: 100px;
    height: 100px;
    object-fit: contain; }
  .cart__item .item__detail h5 {
    flex: 0.8;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between; }
  .cart__item .item__detail span i {
    color: green; }
  .cart__item input {
    border: 1px solid rgba(49, 48, 48, 0.459);
    padding: 10px 10px;
    background: transparent;
    outline: none;
    border-radius: 5px;
    width: 70px;
    font-size: 17px; }
  .cart__item .remove_item {
    color: #383838;
    position: absolute;
    top: 10px;
    right: 20px; }

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5px; }
  form.add_cart {
    display: flex;
    align-items: center;
    justify-content: center; }
  form p {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px; }
    form p label {
      font-size: 16px;
      color: #383838; }
    form p .helptext {
      display: none; }
  form ul {
    display: none; }
  form ul.errorlist {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px; }
    form ul.errorlist li {
      color: red;
      list-style: disc; }

nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between; }
  nav .nav__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 20px;
    background: #383838;
    color: white;
    justify-content: flex-end; }
    nav .nav__header ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px; }
      nav .nav__header ul li {
        font-size: 15px; }
  nav .nav__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px 40px;
    background: white;
    color: #383838;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem; }
    nav .nav__menu.stick {
      position: fixed;
      z-index: 2; }
    nav .nav__menu ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 30px; }
      nav .nav__menu ul li.catagories, nav .nav__menu ul li.pages, nav .nav__menu ul li.pro {
        position: relative; }
        nav .nav__menu ul li.catagories:hover .catagories__menu, nav .nav__menu ul li.pages:hover .catagories__menu, nav .nav__menu ul li.pro:hover .catagories__menu {
          display: flex;
          gap: 50px; }
        nav .nav__menu ul li.catagories:hover .pages__menu, nav .nav__menu ul li.catagories:hover .pro__menu, nav .nav__menu ul li.pages:hover .pages__menu, nav .nav__menu ul li.pages:hover .pro__menu, nav .nav__menu ul li.pro:hover .pages__menu, nav .nav__menu ul li.pro:hover .pro__menu {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 15px; }
        nav .nav__menu ul li.catagories:hover .pro__menu, nav .nav__menu ul li.pages:hover .pro__menu, nav .nav__menu ul li.pro:hover .pro__menu {
          right: -30px; }
        nav .nav__menu ul li.catagories .catagories__menu, nav .nav__menu ul li.catagories .pages__menu, nav .nav__menu ul li.catagories .pro__menu, nav .nav__menu ul li.pages .catagories__menu, nav .nav__menu ul li.pages .pages__menu, nav .nav__menu ul li.pages .pro__menu, nav .nav__menu ul li.pro .catagories__menu, nav .nav__menu ul li.pro .pages__menu, nav .nav__menu ul li.pro .pro__menu {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: space-between;
          z-index: 5;
          background: white;
          height: auto;
          width: max-content;
          padding: 20px;
          border-radius: 10px;
          align-items: flex-start;
          box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem;
          display: none; }
          nav .nav__menu ul li.catagories .catagories__menu ul, nav .nav__menu ul li.catagories .pages__menu ul, nav .nav__menu ul li.catagories .pro__menu ul, nav .nav__menu ul li.pages .catagories__menu ul, nav .nav__menu ul li.pages .pages__menu ul, nav .nav__menu ul li.pages .pro__menu ul, nav .nav__menu ul li.pro .catagories__menu ul, nav .nav__menu ul li.pro .pages__menu ul, nav .nav__menu ul li.pro .pro__menu ul {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            gap: 15px; }
          nav .nav__menu ul li.catagories .catagories__menu ul.catagories__menu-main li, nav .nav__menu ul li.catagories .pages__menu ul.catagories__menu-main li, nav .nav__menu ul li.catagories .pro__menu ul.catagories__menu-main li, nav .nav__menu ul li.pages .catagories__menu ul.catagories__menu-main li, nav .nav__menu ul li.pages .pages__menu ul.catagories__menu-main li, nav .nav__menu ul li.pages .pro__menu ul.catagories__menu-main li, nav .nav__menu ul li.pro .catagories__menu ul.catagories__menu-main li, nav .nav__menu ul li.pro .pages__menu ul.catagories__menu-main li, nav .nav__menu ul li.pro .pro__menu ul.catagories__menu-main li {
            font-weight: bolder;
            font-size: 20px; }
      nav .nav__menu ul li.cart {
        position: relative;
        display: flex;
        align-items: flex-end; }
        nav .nav__menu ul li.cart .cart__number {
          position: absolute;
          background: red;
          color: white;
          top: -8px;
          right: -10px;
          z-index: 10;
          font-weight: 600;
          border-radius: 50%;
          font-size: 12px;
          padding: 0 3px;
          width: auto; }
          nav .nav__menu ul li.cart .cart__number.hidden {
            display: none; }
      nav .nav__menu ul li a {
        color: #383838;
        font-weight: bolder;
        font-size: 17px; }
      nav .nav__menu ul .nav__auth-links {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px; }
        nav .nav__menu ul .nav__auth-links li a {
          background: #383838;
          color: white;
          padding: 7px 15px;
          border-radius: 5px; }
          nav .nav__menu ul .nav__auth-links li a:hover {
            background: rgba(218, 218, 218, 0.405);
            color: #383838; }
        nav .nav__menu ul .nav__auth-links li a.register__llink {
          background: rgba(218, 218, 218, 0.405);
          color: #383838; }
          nav .nav__menu ul .nav__auth-links li a.register__llink:hover {
            background: #383838;
            color: white; }

footer {
  width: 100%;
  background: #383838; }
  footer .footer__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 50px;
    color: white;
    gap: 100px; }
  footer .footer__detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px; }
    footer .footer__detail .social__links {
      width: 100%; }
      footer .footer__detail .social__links ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        justify-content: flex-start;
        gap: 20px; }
        footer .footer__detail .social__links ul li {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          background: white;
          color: #383838;
          border-radius: 50%;
          font-weight: bolder; }
    footer .footer__detail .footer__detail-paymentoptions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: flex-start;
      gap: 20px; }
      footer .footer__detail .footer__detail-paymentoptions img {
        width: 40px;
        height: auto;
        object-fit: cover;
        background-blend-mode: overlay; }
  footer .footer__links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start; }
    footer .footer__links .footer__links-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      footer .footer__links .footer__links-container h6 {
        font-weight: bolder;
        font-size: 18px; }
      footer .footer__links .footer__links-container ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 10px; }
        footer .footer__links .footer__links-container ul li {
          color: rgba(218, 218, 218, 0.405);
          font-size: 14px;
          font-weight: 100; }

.home {
  width: 100%;
  height: auto; }
  .home .hero {
    position: relative;
    height: 600px;
    padding: 50px; }
    .home .hero img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 30px; }
    .home .hero h1 {
      position: absolute;
      top: 50%;
      left: 100px;
      transform: translateY(-50%);
      width: 50%;
      line-height: 65px;
      color: #383838;
      font-family: "Lacquer", system-ui;
      font-weight: 400;
      font-style: normal; }
      .home .hero h1 span {
        color: transparent;
        background-image: linear-gradient(90deg, white 0%, #c3ff77 50%, #ffb800 94%);
        background-clip: text; }

.products {
  width: 100%;
  height: auto;
  background: rgba(218, 218, 218, 0.405); }
  .products__wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    gap: 30px;
    padding: 50px; }
    .products__wrapper .product__list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-gap: 30px;
      width: 100%;
      height: auto; }
    .products__wrapper .see-more {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }

.mockups {
  width: 100%;
  height: auto;
  background: white; }
  .mockups__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0; }
    .mockups__wrapper-main {
      flex: 1;
      height: 500px; }
      .mockups__wrapper-main img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
    .mockups__wrapper-sub {
      height: 500px; }
      .mockups__wrapper-sub img {
        width: 400px;
        height: 100%;
        object-fit: cover; }

.product__list2 {
  gap: 30px;
  overflow-x: scroll;
  width: 100%;
  height: 100%;
  border-radius: 30px; }
  .product__list2::-webkit-scrollbar {
    display: none; }
  .product__list2-wrapper {
    display: flex;
    height: 100%;
    gap: 30px;
    width: max-content; }

.cart {
  background: white; }
  .cart .cart__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 50px;
    color: #383838;
    gap: 30px;
    min-height: 90vh; }
    .cart .cart__wrapper-items {
      height: auto;
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      .cart .cart__wrapper-items_action {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; }
    .cart .cart__wrapper-summary {
      width: 30%;
      background: white;
      height: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem;
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      .cart .cart__wrapper-summary_wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
        width: 100%; }
        .cart .cart__wrapper-summary_wrapper ul {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 15px;
          width: 100%; }
          .cart .cart__wrapper-summary_wrapper ul li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 15px;
            width: 100%; }
            .cart .cart__wrapper-summary_wrapper ul li p {
              color: #383838; }
        .cart .cart__wrapper-summary_wrapper a {
          width: 100%;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;
          font-weight: bolder; }
          .cart .cart__wrapper-summary_wrapper a img {
            width: max-content;
            height: 30px; }
          .cart .cart__wrapper-summary_wrapper a.blur {
            background: rgba(110, 110, 110, 0.721);
            color: rgba(255, 255, 255, 0.834);
            cursor: not-allowed; }
          .cart .cart__wrapper-summary_wrapper a.paypal {
            background: gold;
            color: #383838;
            border: none; }
          .cart .cart__wrapper-summary_wrapper a.chapa {
            background: #0b4401;
            color: white; }
          .cart .cart__wrapper-summary_wrapper a.stripe {
            background: rgba(243, 22, 88, 0.781);
            background: white;
            color: white; }

.productdetail {
  width: 100%;
  height: auto; }
  .productdetail__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    gap: 50px;
    padding: 100px;
    align-items: flex-start; }
    .productdetail__wrapper-image {
      width: 40%;
      height: auto;
      background: rgba(218, 218, 218, 0.405);
      padding: 30px; }
      .productdetail__wrapper-image img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
    .productdetail__wrapper-detail {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px;
      width: 60%;
      height: auto;
      padding: 30px; }
      .productdetail__wrapper-detail h4 {
        color: #383838; }
      .productdetail__wrapper-detail__category {
        padding: 10px 20px;
        background: rgba(218, 218, 218, 0.405);
        border-radius: 5px; }
      .productdetail__wrapper-detail p {
        color: #383838; }
      .productdetail__wrapper-detail__add {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: flex-start;
        gap: 15px;
        display: flex; }
        .productdetail__wrapper-detail__add input {
          border: 1px solid rgba(49, 48, 48, 0.459);
          padding: 10px 10px;
          background: transparent;
          outline: none;
          border-radius: 5px;
          width: 70px;
          font-size: 17px; }
        .productdetail__wrapper-detail__add button {
          display: inline;
          margin-top: 0; }

.orderCreate {
  width: 100%;
  height: auto; }
  .orderCreate__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    max-width: 1000px;
    align-items: flex-start;
    padding: 50px;
    color: #383838;
    gap: 30px;
    min-height: 90vh; }
    .orderCreate__wrapper-form {
      width: 60%;
      gap: 30px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between; }
    .orderCreate__wrapper-info {
      width: 40%;
      background: white;
      height: auto;
      padding: 20px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 0.3rem 1rem;
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      .orderCreate__wrapper-info ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: 15px;
        width: 100%; }
        .orderCreate__wrapper-info ul li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 15px;
          width: 100%; }
          .orderCreate__wrapper-info ul li p {
            color: #383838; }

.paymentStatus {
  width: 100%;
  min-height: 90vh; }
  .paymentStatus__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    max-width: 1000px;
    align-items: flex-start;
    padding: 50px;
    color: #383838;
    gap: 30px;
    height: auto; }
    .paymentStatus__wrapper p {
      color: #383838;
      font-size: 20px; }
      .paymentStatus__wrapper p i {
        font-weight: bolder;
        font-size: 20px;
        padding: 5px;
        background: #3a792a;
        color: white;
        border-radius: 50%; }
      .paymentStatus__wrapper p a {
        color: #1010ad;
        font-weight: bolder; }
      .paymentStatus__wrapper p a:hover {
        text-decoration: underline; }

.paymentProcess {
  width: 100%;
  height: auto;
  background: rgba(218, 218, 218, 0.405);
  min-height: 90vh; }
  .paymentProcess__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 50px;
    gap: 30px; }
    .paymentProcess__wrapper h4 {
      margin-bottom: 30px;
      text-transform: capitalize; }
    .paymentProcess__wrapper-orders {
      height: auto;
      width: 75%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      gap: 15px; }
      .paymentProcess__wrapper-orders table {
        border-collapse: collapse;
        gap: 10px;
        border-radius: 10px;
        overflow: hidden;
        border: 0.5px solid rgba(53, 53, 53, 0.466);
        width: 100%; }
        .paymentProcess__wrapper-orders table thead tr th {
          text-align: start;
          background: rgba(49, 48, 48, 0.459);
          padding: 10px; }
        .paymentProcess__wrapper-orders table tbody {
          padding: 10px;
          background: white;
          gap: 10px; }
          .paymentProcess__wrapper-orders table tbody tr {
            padding: 10px;
            border-bottom: 0.5px solid rgba(53, 53, 53, 0.466); }
            .paymentProcess__wrapper-orders table tbody tr td {
              padding: 10px; }
            .paymentProcess__wrapper-orders table tbody tr img {
              width: 100px;
              height: 100px;
              object-fit: contain; }
        .paymentProcess__wrapper-orders table .total .num {
          font-size: 25px; }
    .paymentProcess__wrapper form {
      width: 150px; }

.account {
  width: 100%;
  height: auto;
  background: white;
  min-height: 70vh; }
  .account__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px; }
    .account__wrapper-profile ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      align-items: flex-start;
      gap: 15px; }
      .account__wrapper-profile ul li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        gap: 5px; }
        .account__wrapper-profile ul li p {
          color: #383838; }
    .account__wrapper-profile2 {
      width: 100%; }
      .account__wrapper-profile2 ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        align-items: flex-start;
        gap: 15px;
        width: 100%; }
        .account__wrapper-profile2 ul li {
          width: 80%;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          gap: 5px; }
          .account__wrapper-profile2 ul li .action {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background: white;
            border-radius: 10px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; }
            .account__wrapper-profile2 ul li .action p {
              flex: 1;
              padding: 10px 15px; }
          .account__wrapper-profile2 ul li p {
            color: #383838; }

.payment {
  width: 100%;
  height: auto;
  background: white;
  min-height: 70vh; }
  .payment__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px; }

.orders {
  width: 100%;
  height: auto;
  background: white;
  min-height: 70vh; }
  .orders__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 100px 200px;
    gap: 30px; }
    .orders__wrapper-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .orders__wrapper-header .main p {
        color: #383838; }
    .orders__wrapper-filter {
      display: flex;
      align-items: center;
      justify-content: space-between;
      justify-content: flex-end;
      width: 100%;
      gap: 15px; }
      .orders__wrapper-filter input {
        width: 300px;
        padding: 7px 10px;
        border-radius: 0; }
      .orders__wrapper-filter select {
        width: 100px;
        padding: 7px 10px;
        border-radius: 0; }
    .orders__wrapper table {
      border-collapse: collapse;
      gap: 10px;
      border-radius: 10px;
      width: 100%; }
      .orders__wrapper table thead tr th {
        text-align: start;
        background: rgba(49, 48, 48, 0.459);
        padding: 10px; }
      .orders__wrapper table tbody {
        padding: 10px;
        background: white;
        gap: 10px; }
        .orders__wrapper table tbody tr {
          border-bottom: 0.5px solid rgba(53, 53, 53, 0.466); }
          .orders__wrapper table tbody tr:hover {
            background: rgba(179, 198, 255, 0.233); }
          .orders__wrapper table tbody tr td {
            padding: 10px; }
            .orders__wrapper table tbody tr td.unpaid {
              color: red; }
              .orders__wrapper table tbody tr td.unpaid i {
                color: rgba(255, 0, 0, 0.393); }
            .orders__wrapper table tbody tr td.paid {
              color: green; }
              .orders__wrapper table tbody tr td.paid i {
                color: rgba(0, 128, 0, 0.545); }
            .orders__wrapper table tbody tr td.num {
              display: flex;
              align-items: center;
              justify-content: space-between;
              width: 100%; }
              .orders__wrapper table tbody tr td.num span {
                position: relative; }
                .orders__wrapper table tbody tr td.num span:hover ul {
                  display: block;
                  overflow: visible; }
                .orders__wrapper table tbody tr td.num span ul {
                  cursor: auto;
                  position: absolute;
                  top: 0;
                  right: -90px;
                  background: white;
                  padding: 10px;
                  z-index: 30;
                  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: space-between;
                  gap: 10p;
                  height: auto;
                  display: none; }
                  .orders__wrapper table tbody tr td.num span ul li {
                    margin-bottom: 5px;
                    width: max-content; }
                    .orders__wrapper table tbody tr td.num span ul li a {
                      color: #383838; }
          .orders__wrapper table tbody tr img {
            width: 100px;
            height: 100px;
            object-fit: contain; }
      .orders__wrapper table .total .num {
        font-size: 25px; }

/*# sourceMappingURL=style.css.map */