{% extends 'shop/base.html' %} {% block page_title %} T-Shirts collection 
{% endblock %} {% load static %} {% block basecontent %}
<section class="products">
  <div class="products__wrapper">
    <h3>{{ products.category.name}}Category Name</h3>
    <div class="product__list">
      {% for product in products %}
      <div class="product">
        <img src="{{ product.image.url }}" alt="" />
        <a
          class="product__detail"
          href="{% url 'shop:product_detail' product.slug %}"
          ><h5>{{ product.name }}</h5></a
        >
        <div class="product__action">
          <p class="product__action-price">{{ product.price }}ETB</p>
          <a
            class="product__action-cart button update-cart"
            data-product="{{ product.id }}"
            data-quantity="1"
            data-override="false"
            >Add <i class="ri-add-line"></i>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}
